.service-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.service-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.service-subtitle {
  color: #8BC34A;
  margin-bottom: 20px;
}

.service-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.service-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.service-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.service-info {
  margin-top: 20px;
  text-align: center;
}

.service-card-title {
  font-size: 1.2em;
  margin: 0 0 10px 0;
}

.service-card-description {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 10px;
}

.service-read-more {
  display: inline-block;
  background-color: #000;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.8em;
}

.service-read-more:hover {
  background-color: #333;
}

.carousel-footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  margin-left: 220px;
  margin-right: 220px;
}

.carousel-dots {
  display: flex;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

.service-footer {
  font-size: 1em;
  color: #777;
}

.service-find-solutions {
  color: #000;
  text-decoration: underline;
}

.service-find-solutions:hover {
  color: #8BC34A;
}

@media (min-width: 768px) {
  .service-carousel {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .service-card {
    width: 45%;
  }

  .service-info {
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .service-card {
    flex-direction: row;
    text-align: left;
  }

  .service-image {
    width: 50%;
    margin-right: 20px;
    height: auto;
  }

  .service-info {
    flex: 1;
    margin-top: 0;
    text-align: left;
  }

  .carousel-footer-container {
    margin: 50px 0;
  }
}

@media (max-width: 767px) {
  .carousel-footer-container {
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 10px;
  }

  .service-footer {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
  }

  .carousel-dots {
    justify-content: center;
    margin-top: 10px;
  }

  .service-find-solutions {
    display: block;
    margin-top: 10px;
    color: #000;
    text-decoration: underline;
  }

  .service-find-solutions:hover {
    color: #8BC34A;
  }
}
