.service-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
}

.service-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.service-subtitle {
  color: #8BC34A;
  margin-bottom: 20px;
}

.service-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* padding: 10px; */
  /* box-sizing: border-box; */
  text-align: left;
  margin-bottom: 20px;
}

.service-image {
  width: 120px;
  height: auto;
  margin-right: 20px;
}

.service-info {
  flex: 1;
}

.service-card-title {
  font-size: 1.2em;
  margin: 0 0 10px 0;
}

.service-card-description {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 10px;
}

.service-read-more {
  display: inline-block;
  background-color: #000;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.8em;
}

.service-read-more:hover {
  background-color: #333;
}

.carousel-footer-container {
  /* margin: 50px 215px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.carousel-dots {
  display: flex;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

.service-footer {
  font-size: 1em;
  color: #777;
}

.service-find-solutions {
  color: #000;
  text-decoration: underline;
}

.service-find-solutions:hover {
  color: #8BC34A;
}

@media (min-width: 768px) {
  .service-carousel {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
  }

  .service-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    /* padding: 10px; */
    box-sizing: border-box;
    text-align: left;
  }

  .service-image {
    width: 120px;
    height: auto;
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .service-carousel {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
  }

  .service-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 85%;
    display: flex;
    align-items: center;
    /* padding: 10px; */
    box-sizing: border-box;
    text-align: left;
  }

  .carousel-footer-container {
    margin: 50px 215px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .service-image {
    width: 220px;
    height: auto;
    margin-right: 20px;
  }
}
