@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.container {
  display: flex;
  font-family: 'Karla', sans-serif; 
  justify-content: center;
  align-content: center;
  padding: 50px 20px; 
  margin-top: 100px;
  margin-bottom: 100px;
}

.left-section {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-top: 5%;
  
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.worker-image {
  max-width: 600px; 
  height: auto;
}

.right-section {
  position: relative;
  width: 50%;
  padding-top: 100px;
  padding-right: 5%;
  padding-left: 15%;
}

.title-container {
  position: relative;
  display: inline-block;
}

.title-background {
  position: absolute;
  top: -40px;
  left: -20px;
  height: 130px; 
  z-index: 0;
}

.title-text {
  position: relative;
  z-index: 1;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.highlight {
  color: #ec7653;
}

.right-section p {
  margin-bottom: 20px;
  line-height: 1.6;
  color: rgb(24, 68, 0);
}

.more-about-button {
  background-color: #f0f0f0;
  color: rgb(8, 107, 56);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  font-weight: 800;
  padding: 15px;
}

.more-about-button:hover {
  background-color: rgb(8, 107, 56);
  color: #f0f0f0;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .left-section, .right-section {
    width: 100%;
  }

  .image-container {
    padding: 20px;
    width: 100%;
  }

  .worker-image {
    max-width: 100%;
    height: auto;
  }

  .right-section {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  .title-text{
    text-align: center;
  }

  .title-container {
    text-align:left;
  }

  .title-background {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 60px;
  }

  .title-text {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title-background {
    top: 0;
    left: -10px;
    width: 150px;
    height: 80px;
  }

  .title-text {
    font-size: 28px;
  }
}