.container {
    display: flex;
    padding: 40px 20px; /* Vertical padding 40px, horizontal padding 20px */
    font-family: Arial, sans-serif;
  }
  
  .left-section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .worker-image {
    width: 100%;
    max-width: 500px; /* Upscale the image */
    height: auto;
  }
  
  .client-info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
    background-color: #ff7043;
    padding: 10px;
    border-radius: 5px;
    color: white;
  }
  
  .client-info::after {
    content: '';
    position: absolute;
    top: -10px; /* Adjusted position */
    left: -10px; /* Adjusted position */
    width: 0;
    height: 0;
    border-left: 10px solid #ff7043;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: rotate(210deg); /* Rotate the arrow 270 degrees */
  }
  
  .client-info h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .client-info p {
    margin: 5px 0 0 0;
    font-size: 14px;
  }
  
  .right-section {
    width: 50%;
    padding-top: 100px;
    padding-right: 3%;
    padding-left: 3%;

  }
  
  .right-section h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .highlight {
    color: #ec7653;
  }
  
  .right-section p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: rgb(24, 68, 0);

  }
  
  .more-about-button {
    background-color: #f0f0f0;
    color: rgb(24, 68, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
  }
  
  .more-about-button:hover {
    background-color: #004d40;
  }
  