.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}

.stat-item {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 150px;
    padding: 30px;
}

.stat-item .shadow {
    font-size: 9em;
    color: white; 
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.5); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    z-index: 0;
    width: 100%;
    text-align: center;
}

.stat-item .content {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 1;
    text-align: center;
    left: -10%;
    margin-top: 20px;
}

.stat-item .content h2 {
    font-size: 4em;
    color: #003366; 
    margin: 0;
    margin-left: 50px;
}

h3{
    margin-top: 10px;
    font-size: 1.5em;
    margin-left: 10px;
    color: #003366; 
}

@media (min-width: 768px) {
    .stats-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        background-color: white;
        
    }

    .stat-item {
        padding: 40px;
    }
    
}

@media (min-width: 1024px) {
    .stats-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        
    }

    .tab-row{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        width: 100%;
    }

    .stat-item {
        padding: 0;
    }

}
